{% extends "base.html" %}
{% load static %}

{% block page_content %}
<style>
        body {
            background-color: #1843de;
            color: white
        }
</style>

<main role="main" class="container" >
    <div class="starter-template">
        <h1>About me</h1>
            <p style="text-align:-webkit-center;">I'm a back-end developer from Brazil. Right now I'm focusing on Python and Django. I have some experience with Git, Heroku, PostgreSQL, Selenium.
            Flask still learning and doing some minor projects just for practice, soon I will post some here. I'm studying AWS, Azure and Docker.
            <br>
            </p>
            <p>In the links below you can know a bit more about me:</p>
            <p>
                <img src="{% static 'img/github.svg' %}" alt="" width="32" height="32" title="Github"> <a href="https://github.com/efgalvao" style="color: black">Github</a>
            </p>
            <p>
                <img src="{% static 'img/linkedin.png' %}" alt="" width="32" height="32" title="Linkedin">  <a href="https://www.linkedin.com/in/edmar-ferreira-galv%C3%A3o-a76331187/" style="color: black">Linkedin</a>
            </p>
    </div>

</main>
{% endblock %}
