{% extends "base.html" %}
{% load static %}

{% block page_content %}
<style>
        body {
            height:100%;
            background-color: #1843de;
            color: white
        }
      </style>
<main role="main" class="container" >
    <div class="contact">
    <h2>Contact</h2>
        <br>
 <p> Feel free to contact me by any of the ways below:</p>
        <p>
        <img src="{% static 'img/email.svg' %}" alt="" width="32" height="32" title="E-mail"> <a href="mailto:edmarfgalvao@hotmail.com" style="color: black">Edmar Ferreira Galvão</a>

<p>
        <img src="{% static 'img/github.svg' %}" alt="" width="32" height="32" title="Github"> <a href="https://github.com/efgalvao" style="color: black">Github</a>
</p>
        <p>
        <img src="{% static 'img/linkedin.png' %}" alt="" width="32" height="32" title="Linkedin">  <a href="https://www.linkedin.com/in/edmar-ferreira-galv%C3%A3o-a76331187/" style="color: black">Linkedin</a>
</p>
    </div>
{% endblock %}
