{% extends "base.html" %}
{% load static %}

{% block page_content %}
<style>
        body {
            background-color: #1843de;
            color: white
        }
</style>

<main role="main" class="container" >
    <div class="starter-template">
        <br>
        <p class="lead">Hello,</p><br>
        <p> My name is Edmar, I am a Back-end Developer from Brazil, and here you can see some things I have done. </p>
        <p> My front-end skills are limited for now, so, be gentle.</p>
        <p> In the projects tab you can see some projects I have coded.</p>
    </div>

</main>
{% endblock %}
